*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto',sans-serif;
}
header{
    background-color: rgb(87, 181, 218);

}
nav{
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    height: 5em;
    margin-left: 1em;
    margin-right: 1em;
}

nav ul{
    display: flex;
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.primer_ar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
hr{
    width: 67%;
    margin-left: 17%;
}
.sec_temp{
    display: flex;
    justify-content: center;
}
.ar_temp{
    background-color: #ddd;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 15%;
    height: 20em;
    border: 1px solid black;
}
.temp_components img{
    width: 80%;
    border-radius: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}
.temp_component2{
    display: flex;
    color: blue;
    width: 90%;
    justify-content: space-around;
}
#tem1{
    color: red;
}
#tem3{
    color: red;
}
#tem5{
    color: red;
}
#tem7{
    color: red;
}
.sec_final{
    position: absolute;
    width: 66%;
    margin-left: 17%;
    margin-top: -1em;
    border: 2px solid black;
}
.ar_final{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.ar_final div{
    width: 50%;
}
#text{
    width:100%;
}
#boton{
    padding: 5px 15px;
    background-color: skyblue;
    box-shadow: 5px 5px 0px black;
}
.high::after, .low::after{
    content: "°";
}
@media screen and (max-width: 769px) {
    hr{
        margin-left: 5%;
        width: 90%;
    }
    .temp_components h2{
        font-size: 12px;
    }
    .temp_components p{
        font-size: 10px;
    }
    .ar_temp{
        height: 100%;
    }
    .sec_final{
        width: 80%;

    margin-left: 10%;
    }
    #text{
        font-size: 6px;
    }

}
