* {
    padding: 0;
    margin: 0;
    font-family: cursive;
}

header {
    background-color: black;
    color: aliceblue;
    padding: 10px;
}


.home_article {
    border: 3px solid black;
    display: flex;
    width: 10em;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 17em;
    margin-top: 2em;
}
.main_title{
    display: flex;
    justify-content: center;
}

#p_text {
    margin-top: 0.5em;
}
#button2{
    padding-left: 15em;
}
.second_article {
    display: flex;
    border: 3px solid black;    
    height: 12em;
    align-items: center;
    justify-content: space-around;
    margin-top: 2em;
}

.div_button button {
    background-color: rgb(252, 252, 96);
    width: 5em;
    height: 2em;
}
.section_principal{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 2em;
}

.div_button {
    display: flex;
    justify-content: space-between;
    width: 10em;
    margin-top: -3em;
}
.second_section{
    display: grid;
}
